body {
  background-color: $near-white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 64rem;

  .content {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
    padding-top: 4rem;
    width: 80%;
  }
}

.my-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25)
}

a {
  text-decoration: none;
  color: #357edd;
}

h1, h2, h3 {
  color: $black-87;
}

p {
  color: $black-54;
  line-height: 1.6;
}

// The last child will always be "last updated at xxx"
p:last-child {
  padding-top: 1.5rem;
  opacity: 0.8;
}


.my-red{
  color: $my-red;
}

.black-87 { color: $black-87; }

.h1p5 {
  height: 1.5rem
}

.w1p5 {
  height: 1.5rem;
}