.blogpage {
  h1 {
    color: #1f2933;
    letter-spacing: -0.03em;
  }

  p:not(:last-child) {
    color: #464646;
    font-weight: 400;
  }

  p .title {
    line-height: 1.2;
  }
  h3 {
    color: $my-red;
  }
  code {
    border-radius: 0.25rem;
    line-height: 1.5;
  }
  blockquote {
    border-left-color: #ff4136;
    border-left-style: solid;
    border-left-width: 3px;
    margin-left: 1rem;
    p {
      padding: 0.5rem 0 0.5rem 0;
      text-align: left;
      font-size: 1.1rem;
      color: $black-54;
      font-style: italic;
      padding-left: 1rem;
    }
  }
}