.blogpage {
  code {
    border-radius: 0.25rem;
    font-size: 0.75em;
    line-height: 1.5;
    padding: 0.75em;
    border: 1px solid #c5c5c5;
  }

  h1 {
    color: #1f2933;
    letter-spacing: -0.03em;
  }

  h4 {
    color: #848484;
  }

  blockquote {
    border-left-color: #ff4136;
    border-left-style: solid;
    border-left-width: 3px;
    margin-left: 1rem;
    p {
      padding: 0.5rem 0 0.5rem 0;
      text-align: left;
      font-size: 1.1rem;
      color: $black-54;
      font-style: italic;
      padding-left: 1rem;
    }
  }

  p {
    // Only code that is contained within <p> tags are inline code blocks
    code {
      border: none;
      padding: 0;
      font-size: 1rem;
    }
    .title {
      line-height: 1.2;
    }
  }

  h3 {
    color: $my-red;
  }

  .lh-tight {
    line-height: 0.9;
  }
}